:root {
  --main-color: #303030;
  --secondary-color: #ffffff;
  --main-text-color: #555555;
  --secondary-text-color: #9da4bd;
  --accent-color: #ff6c00;
  --price-line-color: rgba(157, 164, 189, 0.12);
  --secondary-bg-color: #f7f7f7;
  --hero-color: rgba(157, 164, 189, 0.6);
  --footer-color: rgba(157, 164, 189, 0.4);
  --footer-bg: #191c26;
  --hero-bg: #191c26;
  --overlay-color: rgba(25, 28, 38, 0.2);
  --prices-bg-color: #111319;
}

// breakpoints

$mobile-max: 479px;
$mobile-min: 480px;
$tablet-max: 767px;
$tablet-min: 768px;
$desktop-min: 1200px;
$desktop-max: 1199px;
