<section id="barbers" class="section barbers__section">
  <div class="container container--barbers">
    <p class="section__info">For true enjoyers of the atmosphere</p>
    <h2 class="barbers__title">Our barbers</h2>
    <ul class="barbers__list">
      <li class="barbers__item">
        <div class="barbers__card">
          <div class="barbers__photo-wrap">
            <picture>
              <source
                srcset="
                  ./images/barbers/barber1-370-min.jpg    370w,
                  ./images/barbers/barber1-370@2x-min.jpg 740w
                "
                media="(min-width: 1200px)"
                sizes="370px"
              />
              <source
                srcset="
                  ./images/barbers/barber1-450-min.jpg    450w,
                  ./images/barbers/barber1-450@2x-min.jpg 900w
                "
                media="(min-width: 768px)"
                sizes="450px"
              />
              <source
                srcset="
                  ./images/barbers/barber1-418-min.jpg    418w,
                  ./images/barbers/barber1-418@2x-min.jpg 836w
                "
                media="(max-width: 767px)"
                sizes="418px"
              />
              <img
                src="./images/barbers/barber1-418-min.jpg"
                alt="Barber John Smith"
              />
            </picture>
          </div>
          <p class="barbers__name">John Smith</p>
          <p class="barbers__position">Extreme Barber</p>
          <ul class="barbers__soc-list">
            <li class="barbers__soc-item">
              <a
                href="https://www.instagram.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use
                    href="./images/symbol-defs.svg#icon-instagram"
                  ></use></svg
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://twitter.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://www.facebook.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://www.linkedin.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="barbers__item">
        <div class="barbers__card">
          <div class="barbers__photo-wrap">
            <picture>
              <source
                srcset="
                  ./images/barbers/barber2-370-min.jpg    370w,
                  ./images/barbers/barber2-370@2x-min.jpg 740w
                "
                media="(min-width: 1200px)"
                sizes="370px"
              />
              <source
                srcset="
                  ./images/barbers/barber2-450-min.jpg    450w,
                  ./images/barbers/barber2-450@2x-min.jpg 900w
                "
                media="(min-width: 768px)"
                sizes="450px"
              />
              <source
                srcset="
                  ./images/barbers/barber2-418-min.jpg    418w,
                  ./images/barbers/barber2-418@2x-min.jpg 836w
                "
                media="(max-width: 767px)"
                sizes="418px"
              />
              <img
                src="./images/barbers/barber2-418-min.jpg"
                alt="Barber Michele Doe"
              />
            </picture>
          </div>
          <p class="barbers__name">Michele Doe</p>
          <p class="barbers__position">Extreme Barber</p>
          <ul class="barbers__soc-list">
            <li class="barbers__soc-item">
              <a
                href="https://www.instagram.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use
                    href="./images/symbol-defs.svg#icon-instagram"
                  ></use></svg
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://twitter.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://www.facebook.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://www.linkedin.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="barbers__item">
        <div class="barbers__card">
          <div class="barbers__photo-wrap">
            <picture>
              <source
                srcset="
                  ./images/barbers/barber3-370-min.jpg    370w,
                  ./images/barbers/barber3-370@2x-min.jpg 740w
                "
                media="(min-width: 1200px)"
                sizes="370px"
              />
              <source
                srcset="
                  ./images/barbers/barber3-450-min.jpg    450w,
                  ./images/barbers/barber3-450@2x-min.jpg 900w
                "
                media="(min-width: 768px)"
                sizes="450px"
              />
              <source
                srcset="
                  ./images/barbers/barber3-418-min.jpg    418w,
                  ./images/barbers/barber3-418@2x-min.jpg 836w
                "
                media="(max-width: 767px)"
                sizes="418px"
              />
              <img
                src="./images/barbers/barber3-418-min.jpg"
                alt="Barber Alan Black"
              />
            </picture>
          </div>
          <p class="barbers__name">Alan Black</p>
          <p class="barbers__position">Extreme Barber</p>
          <ul class="barbers__soc-list">
            <li class="barbers__soc-item">
              <a
                href="https://www.instagram.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use
                    href="./images/symbol-defs.svg#icon-instagram"
                  ></use></svg
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://twitter.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://www.facebook.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://www.linkedin.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
