<section class="section barbers__section">
  <div class="container">
    <p class="section__info">For true enjoyers of the atmosphere</p>
    <h2 class="barbers__title">Our barbers</h2>
    <ul class="barbers__list">
      <li class="barbers__item">
        <div class="barbers__card">
          <div class="barbers__photo-wrap"></div>
          <p class="barbers__name">John Smith</p>
          <p class="barbers__position">Extreme Barber</p>
          <ul class="barbers__soc-list">
            <li class="barbers__soc-item">
              <a
                href="https://www.instagram.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use
                    href="./images/symbol-defs.svg#icon-instagram"
                  ></use></svg
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://twitter.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://www.facebook.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://www.linkedin.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="barbers__item">
        <div class="barbers__card">
          <div class="barbers__photo-wrap"></div>
          <p class="barbers__name">Michele Doe</p>
          <p class="barbers__position">Extreme Barber</p>
          <ul class="barbers__soc-list">
            <li class="barbers__soc-item">
              <a
                href="https://www.instagram.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use
                    href="./images/symbol-defs.svg#icon-instagram"
                  ></use></svg
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://twitter.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://www.facebook.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://www.linkedin.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="barbers__item">
        <div class="barbers__card">
          <div class="barbers__photo-wrap"></div>
          <p class="barbers__name">Alan Black</p>
          <p class="barbers__position">Extreme Barber</p>
          <ul class="barbers__soc-list">
            <li class="barbers__soc-item">
              <a
                href="https://www.instagram.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use
                    href="./images/symbol-defs.svg#icon-instagram"
                  ></use></svg
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://twitter.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://www.facebook.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://www.linkedin.com/"
                class="barbers__link"
                target="_blank"
                ><svg class="barbers__soc-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
