<section class="section barbers__section">
  <div class="container">
    <p class="section__info">For true enjoyers of the atmosphere</p>
    <h2 class="about__title">Our barbers</h2>
    <ul class="barbers__list">
      <li class="barbers__item">
        <div class="barbers__card">
          <div class="barbers__photo-wrap"></div>
          <p class="barbers__name"></p>
          <p class="barbers__position"></p>
          <ul class="barbers__soc-list">
            <li class="barbers__soc-item">
              <a
                href="https://www.instagram.com/"
                class="barbers__link"
                target="_blank"
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://twitter.com/"
                class="barbers__link"
                target="_blank"
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://www.facebook.com/"
                class="barbers__link"
                target="_blank"
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://www.linkedin.com/"
                class="barbers__link"
                target="_blank"
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="barbers__item">
        <div class="barbers__card">
          <div class="barbers__photo-wrap"></div>
          <p class="barbers__name"></p>
          <p class="barbers__position"></p>
          <ul class="barbers__soc-list">
            <li class="barbers__soc-item">
              <a
                href="https://www.instagram.com/"
                class="barbers__link"
                target="_blank"
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://twitter.com/"
                class="barbers__link"
                target="_blank"
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://www.facebook.com/"
                class="barbers__link"
                target="_blank"
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://www.linkedin.com/"
                class="barbers__link"
                target="_blank"
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="barbers__item">
        <div class="barbers__card">
          <div class="barbers__photo-wrap"></div>
          <p class="barbers__name"></p>
          <p class="barbers__position"></p>
          <ul class="barbers__soc-list">
            <li class="barbers__soc-item">
              <a
                href="https://www.instagram.com/"
                class="barbers__link"
                target="_blank"
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://twitter.com/"
                class="barbers__link"
                target="_blank"
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://www.facebook.com/"
                class="barbers__link"
                target="_blank"
              ></a>
            </li>
            <li class="barbers__soc-item">
              <a
                href="https://www.linkedin.com/"
                class="barbers__link"
                target="_blank"
              ></a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
