<section class="section section--contacts contacts">
  <div class="container container--contacts">
    <div class="contacts__form-wrapper">
      <div class="container container--form-wrapper">
        <div class="contacts__section">
          <h2 class="contacts__title">Online-booking</h2>
          <form class="contacts__form">
            <div class="contacts__inputs-wrapper">
              <input type="text" />
              <input type="tel" />
            </div>
            <input type="text" />
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="contacts__info">
      <div class="container container--info contacts__container">
        <div class="contacts__section">
          <h2 class="contacts__title">Contacts</h2>
        </div>
      </div>
    </div>
  </div>
</section>
