<section class="section section--contacts contacts">
  <div class="container--contacts">
    <div class="contacts__form-wrapper">
      <div class="container container--form-wrapper">
        <div class="contacts__section">
          <h2 class="contacts__title contacts__booking">Online-booking</h2>
          <form class="contacts__form">
            <div class="contacts__inputs-wrapper">
              <input
                type="text"
                required
                placeholder="NAME*"
                class="contacts__required-inputs"
              />
              <input
                type="tel"
                required
                placeholder="PHONE*"
                class="contacts__required-inputs"
              />
            </div>
            <label class="contacts__message">
              MESSAGE
              <textarea type="text" class="contacts__message-input" />
            </label>
            <button type="submit" class="main-button main-button--booking">
              Send
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="contacts__info">
      <div class="container container--info contacts__container">
        <div class="contacts__section">
          <h2 class="contacts__title contacts__contact-info">Contacts</h2>
        </div>
      </div>
    </div>
  </div>
</section>
