<section class="section">
  <div class="container features__container">
    <div class="features__info">
      <p class="section__info">Old traditional school</p>
      <h2 class="features__title">¿Why people come<br />to us?</h2>
      <p class="features__text">
        Only good things are said about us. But it's better to see and feel 1
        time than read 10 times.
      </p>
    </div>
    <div class="features__wrapper">
      <div class="features__box">
        <div class="features__feature-item">
          <p class="features__number">600</p>
          <p class="features__description">Satisfied customers<br />per day</p>
        </div>
        <div class="features__feature-item">
          <p class="features__number">20</p>
          <p class="features__description">Kyiv’s best<br />barbers</p>
        </div>
      </div>
      <div class="features__box">
        <div class="features__feature-item">
          <p class="features__number">50</p>
          <p class="features__description">Awards for excellent<br />service</p>
        </div>
        <div class="features__feature-item">
          <p class="features__number">100</p>
          <p class="features__description">Gifts for regular<br />customers</p>
        </div>
      </div>
    </div>
  </div>
</section>
