<footer class="section section--footer footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__copyright">
        <span class="footer__copyright-icon">&#169;</span> Copyright 2020
      </div>
      <ul class="site-soc-links footer__links">
        <li class="site-soc-links__item">
          <a
            href="https://www.instagram.com/"
            class="site-soc-links__link"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li class="site-soc-links__item">
          <a
            href="https://www.youtube.com/"
            class="site-soc-links__link"
            target="_blank"
            >Youtube</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
