<section class="section section--gallery gallery">
  <div class="container">
    <p class="section__info section__info--gallery">
      In Latin, "barba" means "beard"
    </p>
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list">
      <li class="gallery__item">
        <!-- <img src="" alt="" class="gallery__photo" /> -->
      </li>
      <li class="gallery__item">
        <!-- <img src="" alt="" class="gallery__photo" /> -->
      </li>
      <li class="gallery__item">
        <!-- <img src="" alt="" class="gallery__photo" /> -->
      </li>
      <li class="gallery__item">
        <!-- <img src="" alt="" class="gallery__photo" /> -->
      </li>
    </ul>
  </div>
</section>
