<section class="section section--gallery gallery">
  <div class="container">
    <p class="section__info section__info--gallery">
      In Latin, "barba" means "beard"
    </p>
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list">
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gal1-270-min.jpg    270w,
              ./images/gallery/gal1-270@2x-min.jpg 540w
            "
            media="(min-width: 1200px)"
            sizes="270px"
          />
          <source
            srcset="
              ./images/gallery/gal1-330-min.jpg    330w,
              ./images/gallery/gal1-330@2x-min.jpg 660w
            "
            media="(min-width: 768px)"
            sizes="330px"
          />
          <source
            srcset="
              ./images/gallery/gal1-418-min.jpg    418w,
              ./images/gallery/gal1-418@2x-min.jpg 836w
            "
            media="(max-width: 767px)"
            sizes="418px"
          />
          <img
            loading="lazy"
            src="./images/gallery/gal1-418-min.jpg"
            alt="haircut"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gal2-270-min.jpg    270w,
              ./images/gallery/gal2-270@2x-min.jpg 540w
            "
            media="(min-width: 1200px)"
            sizes="270px"
          />
          <source
            srcset="
              ./images/gallery/gal2-330-min.jpg    330w,
              ./images/gallery/gal2-330@2x-min.jpg 660w
            "
            media="(min-width: 768px)"
            sizes="330px"
          />
          <source
            srcset="
              ./images/gallery/gal2-418-min.jpg    418w,
              ./images/gallery/gal2-418@2x-min.jpg 836w
            "
            media="(max-width: 767px)"
            sizes="418px"
          />
          <img
            loading="lazy"
            src="./images/gallery/gal2-418-min.jpg"
            alt="shaving"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gal3-270-min.jpg    270w,
              ./images/gallery/gal3-270@2x-min.jpg 540w
            "
            media="(min-width: 1200px)"
            sizes="270px"
          />
          <source
            srcset="
              ./images/gallery/gal3-330-min.jpg    330w,
              ./images/gallery/gal3-330@2x-min.jpg 660w
            "
            media="(min-width: 768px)"
            sizes="330px"
          />
          <source
            srcset="
              ./images/gallery/gal3-418-min.jpg    418w,
              ./images/gallery/gal3-418@2x-min.jpg 836w
            "
            media="(max-width: 767px)"
            sizes="418px"
          />
          <img
            loading="lazy"
            src="./images/gallery/gal3-418-min.jpg"
            alt="warming up skin"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gal4-270-min.jpg    270w,
              ./images/gallery/gal4-270@2x-min.jpg 540w
            "
            media="(min-width: 1200px)"
            sizes="270px"
          />
          <source
            srcset="
              ./images/gallery/gal4-330-min.jpg    330w,
              ./images/gallery/gal4-330@2x-min.jpg 660w
            "
            media="(min-width: 768px)"
            sizes="330px"
          />
          <source
            srcset="
              ./images/gallery/gal4-418-min.jpg    418w,
              ./images/gallery/gal4-418@2x-min.jpg 836w
            "
            media="(max-width: 767px)"
            sizes="418px"
          />
          <img
            loading="lazy"
            src="./images/gallery/gal4-418-min.jpg"
            alt="hair shaving"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
