<header class="site-header section section--header">
  <div class="container container--header">
    <a href="./index.html" class="site-header__logo">
      <svg class="site-header__icon" width="68.93" height="55.46">
        <use href="./images/symbol-defs.svg#icon-site-logo"></use>
      </svg>
    </a>

    <div class="site-header__menu">
      <nav class="site-nav">
        <ul class="site-nav__list">
          <li class="site-nav__item">
            <a href="#about" class="site-nav__link">About</a>
          </li>
          <li class="site-nav__item">
            <a href="#prices" class="site-nav__link">Services and prices</a>
          </li>
          <li class="site-nav__item">
            <a href="#barbers" class="site-nav__link">Barbers</a>
          </li>
          <li class="site-nav__item">
            <a href="#contacts" class="site-nav__link">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="site-header_wrap">
        <a href="#booking" class="main-button main-button--booking"
          >Online-booking</a
        >
        <a href="tel:+380441111111" class="site-header__tel"
          >+38 044 111 11 11</a
        >
      </div>
    </div>

    <button type="button" class="site-header__menu-button js-open-menu">
      <svg class="site-header__menu-icon" width="40" height="40">
        <use href="./images/symbol-defs.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
