<div class="backdrop js-backdrop">
  <div class="mobile-menu js-mobile-menu">
    <button type="button" class="mobile-menu__close-btn js-close-menu">
      <svg class="mobile-menu__close-icon" width="40" height="40">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="#about" class="mobile-menu__link js-anchor">About</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#prices" class="mobile-menu__link js-anchor"
          >Services and prices</a
        >
      </li>
      <li class="mobile-menu__item">
        <a href="#barbers" class="mobile-menu__link js-anchor">Barbers</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#contacts" class="mobile-menu__link js-anchor">Contacts</a>
      </li>
    </ul>
    <div class="mobile-menu__wrap">
      <a href="tel:+380441111111" class="mobile-menu__tel">+38 044 111 11 11</a>
      <a href="#booking" class="main-button js-anchor">Online-booking</a>
    </div>
    <ul class="site-soc-links mobile-menu__soc-links">
      <li class="site-soc-links__item">
        <a
          href="https://www.instagram.com/"
          class="site-soc-links__link"
          target="_blank"
          >Instagram</a
        >
      </li>
      <li class="site-soc-links__item">
        <a
          href="https://www.youtube.com/"
          class="site-soc-links__link"
          target="_blank"
          >Youtube</a
        >
      </li>
    </ul>
  </div>
</div>
