<section id="prices" class="section prices prices__section">
  <div class="container">
    <p class="section__info section__info--prices">
      Spend your time with the best masters
    </p>
    <h2 class="prices__title">Services and prices</h2>
    <div class="prices__wrapper">
      <ul class="prices__price-list">
        <li class="prices__item">
          <p class="prices__text">
            <span class="prices__service-name">Men’s haircut</span
            ><span class="prices__price-tag">from 300 uah.</span>
          </p>
        </li>
        <li class="prices__item">
          <p class="prices__text">
            <span class="prices__service-name">Beard trim</span
            ><span class="prices__price-tag">from 200 uah.</span>
          </p>
        </li>
        <li class="prices__item">
          <p class="prices__text">
            <span class="prices__service-name">Mustache trim</span
            ><span class="prices__price-tag">from 200 uah.</span>
          </p>
        </li>
        <li class="prices__item">
          <p class="prices__text">
            <span class="prices__service-name">Straight razor shave</span
            ><span class="prices__price-tag">from 200 uah.</span>
          </p>
        </li>
      </ul>
      <ul class="prices__price-list">
        <li class="prices__item">
          <p class="prices__text">
            <span class="prices__service-name">Trainee’s haircut</span
            ><span class="prices__price-tag">from 50 uah.</span>
          </p>
        </li>
        <li class="prices__item">
          <p class="prices__text">
            <span class="prices__service-name">Haircut under the nozzle</span
            ><span class="prices__price-tag">from 200 uah.</span>
          </p>
        </li>
        <li class="prices__item">
          <p class="prices__text">
            <span class="prices__service-name"
              >Children’s haircut (0-12 y.o.)</span
            ><span class="prices__price-tag">from 300 uah.</span>
          </p>
        </li>
        <li class="prices__item">
          <p class="prices__text">
            <span class="prices__service-name">Camouflage of grey hair</span
            ><span class="prices__price-tag">from 200 uah.</span>
          </p>
        </li>
      </ul>
    </div>
    <div class="prices__btn-wrapper">
      <a href="#booking" class="main-button main-button--booking prices__btn"
        >online-booking</a
      >
    </div>
  </div>
</section>
