.container {
  max-width: $mobile-min;

  margin-left: auto;
  margin-right: auto;

  padding-left: 31px;
  padding-right: 31px;

  @media screen and (min-width: $tablet-min) {
    min-width: $tablet-min;

    padding-left: 39px;
    padding-right: 39px;
  }

  @media screen and (min-width: $desktop-min) {
    min-width: $desktop-min;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container--header {
  display: flex;

  @media screen and (min-width: $tablet-min) {
    padding-left: 50;
  }
  @media screen and (min-width: $desktop-min) {
    padding-left: 15;
  }
}

.container--hero {
  @media screen and (max-width: $tablet-max) {
    padding-left: 0;
    padding-right: 0;
  }

  display: flex;
}

.container--barbers {
  @media screen and (min-width: $tablet-min) and (max-width: $desktop-max) {
    padding-left: 159px;
    padding-right: 159px;
  }
}

.container--contacts {
  @media screen and (min-width: $desktop-min) {
    width: $desktop-min;
    margin-left: auto;
    margin-right: auto;

    display: flex;

    padding-left: 15px;
    padding-right: 15px;
  }
}

.container--form-wrapper {
  @media screen and (min-width: $desktop-min) {
    min-width: 600px;
    padding-left: 0;
    padding-right: 30px;
  }
}

.container--info {
  @media screen and (min-width: $desktop-min) {
    min-width: 270px;
    padding-left: 100px;
  }
}
