.main-button {
  width: 160px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  cursor: pointer;

  border: 1px solid var(--accent-color);
  border-radius: 25px;

  transition: color 300ms ease, background-color 300ms ease;

  &:hover,
  &:focus {
    color: var(--secondary-color);
    background-color: var(--accent-color);
  }
}

.main-button--booking {
  color: var(--secondary-color);

  @media screen and (min-width: $tablet-min) and (max-width: $desktop-max) {
    margin-bottom: 20px;
  }
}

.main-button--mobile {
  width: 194px;
  height: 40px;
}
