.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;

  opacity: 1;

  background-color: var(--overlay-color);

  transition: opacity 300ms ease-out;

  z-index: 999;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 70vw;
  height: 100vh;

  padding-left: 40px;
  padding-top: 118px;

  background-color: var(--secondary-color);
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08),
    -1px 0px 3px rgba(0, 0, 0, 0.16);

  transform: translateX(0);
  transition: transform 300ms ease-out;

  @media screen and (max-width: 400px) {
    width: 100vw;
  }

  &.is-closed {
    transform: translateX(100vw);
  }

  &__close-btn {
    padding: 0;

    position: absolute;
    top: 48px;
    right: 31px;

    line-height: 0;

    transition: fill 300ms ease;

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }

  &__list {
    margin-bottom: 64px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    font-weight: 600;
    line-height: 1.39;
    letter-spacing: 0.1em;
  }

  &__link {
    transition: color 200ms ease;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__wrap {
    margin-bottom: 64px;

    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__tel {
    font-weight: 600;
    line-height: 1.39;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    transition: color 200ms ease;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__soc-links {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    font-size: 14px;
    line-height: 1.36;

    & .site-soc-links__item {
      margin: 0;
      padding-left: 100px;
    }

    &::before {
      position: absolute;
      top: 8px;
      left: 0;
    }
  }
}
