.section {
  outline: 1px solid tomato;

  padding-top: 84px;
  padding-bottom: 84px;

  @media screen and (min-width: $tablet-min) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: $desktop-min) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section--header {
  padding-top: 44px;
  padding-bottom: 44px;
}

.section--hero {
  padding-top: 0;
  padding-bottom: 0;
}

.section--footer {
  padding-top: 44px;
  padding-bottom: 44px;
}

.section__info {
  margin-bottom: 20px;

  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;

  &::before {
    content: '';
    width: 60px;
    height: 1px;

    margin-right: 20px;

    display: inline-block;

    background: var(--main-color);
  }
}

.section__info--invert {
  color: var(--hero-color);
}
