.section {
  outline: 1px solid tomato;

  padding-top: 84px;
  padding-bottom: 84px;
}

.section--header {
  padding-top: 44px;
  padding-bottom: 44px;
}

.section--hero {
  padding-top: 44px;
  padding-bottom: 44px;
}

.section--footer {
  padding-top: 44px;
  padding-bottom: 44px;
}

.section_title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.section_pretitle {
  margin-bottom: 20px;

  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;

  &::before {
    content: '';
    width: 60px;
    height: 1px;

    margin-right: 20px;

    display: inline-block;

    background: #303030;
  }
}
