.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

.section--header {
  padding-top: 44px;
  padding-bottom: 44px;
}

.section--hero {
  padding-top: 44px;
  padding-bottom: 44px;
}

.section--footer {
  padding-top: 44px;
  padding-bottom: 44px;
}
