.booking-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 160px;
  height: 40px;

  border: 1px solid var(--accent-color);
  border-radius: 25px;

  @media screen and (min-width: $tablet-min) and (max-width: $desktop-max) {
    margin-bottom: 20px;
  }
}
