.about__wrap {
  display: flex;
}

.about__photo-set {
  margin-right: 30px;
  display: none;

  @media screen and (min-width: $tablet-min) {
    display: block;
  }

  @media screen and (min-width: $desktop-min) {
    display: flex;
  }
}

.about__photo-wrap {
  display: block;
  &:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width: $desktop-min) {
      margin-bottom: 0px;
      margin-right: 30px;
    }
  }
}

.about__info {
  max-width: 418px;

  @media screen and (min-width: $tablet-min) {
    width: 330px;
  }

  @media screen and (min-width: $desktop-min) {
    min-width: 470px;
  }
}

.about__title {
  margin-bottom: 20px;

  font-size: 28px;
  line-height: 1.18;
  color: var(--main-color);

  @media screen and (min-width: $desktop-min) {
    font-size: 42px;
    line-height: 1.17;
  }
}

.about__post-title {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.62;
  color: var(--main-text-color);

  @media screen and (min-width: $tablet-min) {
    font-size: 18px;
    line-height: 1.67;
  }
}

.about__text {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.86;

  color: var(--main-text-color);

  @media screen and (min-width: $tablet-min) {
    margin-bottom: 77px;
  }

  @media screen and (min-width: $desktop-min) {
    margin-bottom: 42px;
  }
}

.about__hidden-text {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: none;
  }
}
