.gallery {
  &__list {
    gap: 30px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet-min) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {
    background-color: var(--main-text-color);

    @media screen and (min-width: $mobile-min) {
      width: 418px;
      height: 360px;
    }

    @media screen and (min-width: $tablet-min) {
      width: 330px;
    }

    @media screen and (min-width: $desktop-min) {
      width: 270px;
    }
  }
}
