.site-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
}

.site-header__logo {
  fill: var(--secondary-color);
  @media screen and (min-width: $tablet-min) {
    fill: var(--main-color);
  }
}
