.site-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;

  width: 100%;
}

.site-header__logo {
  margin-right: 60px;
  @media screen and (min-width: $desktop-min) {
    margin-right: 131px;
  }
}

.site-header__icon {
  fill: var(--secondary-color);
  @media screen and (min-width: $tablet-min) {
    fill: var(--main-color);
  }
}

.site-header__menu-button {
  margin-left: auto;

  fill: var(--secondary-color);
  transition: fill 300ms ease;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.site-header__menu-icon {
  @media screen and (min-width: $tablet-min) {
    display: none;
  }
}

.site-header__menu {
  display: none;
  @media screen and (min-width: $tablet-min) {
    width: 100%;
    padding-right: 20px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media screen and (min-width: $desktop-min) {
    align-items: center;
  }
}

.site-header_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (min-width: $desktop-min) {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.site-header__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--secondary-color);

  transition: color 300ms ease;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: $desktop-min) {
    margin-right: 40px;
  }
}
