.prices {
  &__section {
    background: url(../images/prices/prices_bg480.png);
    background-color: var(--prices-bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: url(../images/prices/prices_bg480_2x.png);
      background-color: var(--prices-bg-color);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    @media screen and (min-width: $tablet-min) {
      background: url(../images/prices/prices_bg768.png);
      background-color: var(--prices-bg-color);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background: url(../images/prices/prices_bg768_2x.png);
        background-color: var(--prices-bg-color);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    @media screen and (min-width: $desktop-min) {
      background: url(../images/prices/prices_bg1600.png);
      background-color: var(--prices-bg-color);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background: url(../images/prices/prices_bg1600_2x.png);
        background-color: var(--prices-bg-color);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }

  &__title {
    margin-bottom: 44px;

    font-size: 40px;
    line-height: 1.18;
    color: var(--secondary-color);

    @media screen and (min-width: $tablet-min) {
      font-size: 42px;
      line-height: 1.17;
    }
  }

  &__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 20px;
    margin-bottom: 44px;

    font-size: 14px;
    color: var(--secondary-text-color);

    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);

    @media screen and (min-width: $tablet-min) {
      font-size: 18px;
      line-height: 1.67;
    }

    @media screen and (min-width: $desktop-min) {
      display: flex;
      gap: 30px;
      font-size: 18px;
      line-height: 1.67;

      background: none;
      padding: 0;
    }
  }

  &__price-list {
    @media screen and (min-width: $desktop-min) {
      width: 570px;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 21px;
      padding-right: 21px;

      &:first-child {
        background: linear-gradient(
          180deg,
          #171a24 0%,
          rgba(23, 26, 36, 0.2) 100%
        );
      }
      &:last-child {
        background: linear-gradient(
          180deg,
          #090b13 0%,
          rgba(9, 11, 19, 0.2) 100%
        );
      }
    }
  }

  &__item {
    margin-bottom: 20px;

    @media screen and (min-width: $desktop-min) {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__text {
    display: flex;
  }

  &__service-name {
    display: inline-block;
    margin-right: auto;
    text-align: left;

    min-width: 50px;
  }

  &__price-tag {
    display: flex;
    align-items: baseline;
    flex-grow: 1;
    min-width: 100px;
    text-align: right;

    &::before {
      content: '';
      margin-left: 4px;
      margin-right: 4px;

      display: block;
      flex-grow: 1;
      min-width: 10px;

      border-bottom: 1px solid var(--price-line-color);
    }
  }

  &__btn {
    margin-left: auto;
    margin-right: auto;
  }
}
